/* Reset time! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Actual me stuff! */
body{
  display: flex;
  align-items: center;
  height: 100vh;
	background-color: #fff6f8;
}

/* Left side */
#lefter{
	max-height: 100vh;
	position: relative;
	/* Relative is needed to limit the size of the boxFloat */
}

#boxFloat{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	bottom: 150px;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
}

.logo{
	height: 40px;
}

#textFloat{
	font-family: 'Cherry Bomb One','Times New Roman', Times, serif;
	font-size: 40px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 18px;
	color: aliceblue;
}

#bg{
	display: block;
	max-height: 100vh;
	width: auto;
}

/* Right side */
#righter{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: start;
	gap: 20px;
	width: 100vw;
}

#righter,
#feedButton,
.formItem input{
	font-family: 'Chewy','Times New Roman', Times, serif;
}

.warning{
	max-width: 550px;
}

#formArea{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#formInternalArea{
	display: flex;
	gap: 80px;
	background-color: #ffd5e3;
	padding: 20px 35px;
	box-shadow: 0px 3px 6px #6a6a6a;
}

.formSide{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.formItem{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.formItem label,
.formItem input{
	font-size: 24px;
}

.formItem input{
	color: #d8365e;
	border: 2px solid;
	border-radius: 8px;
}

#feedButton{
	max-width: 180px;
	padding: 7px;
	border-radius: 10px;
	color: #ffffff;
	background-color: #d8365e;
}

.warning,
#feedButton,
#loginWarn{
	font-size: 28px;
	margin-left: 35px;
}

#loginWarn a{
	color: #d8365e;
}

/* Animations */
#feedButton:hover{
	box-shadow: 1px 1px 5px #d8365e;
}

input:invalid{
	border-color: #00f2ff;
}